<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

<!--    开启自动扫描，将@Component,@Repostroy,@Service,@Controller纳入到IOC-->
    <context:component-scan base-package="vip.epss"></context:component-scan>
<!--    声明面向方面的代码都可以自动-->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
<!--    <bean id="adminMapper" class="vip.epss.dao.AdminMapper" scope="singleton"></bean>-->
<!--    <bean id="adminService" class="vip.epss.service.AdminService">-->
<!--        <property name="adminMapper" ref="adminMapper"></property>-->
<!--    </bean>-->

    <!-- 引入db配置文件  -->
    <context:property-placeholder location="db.properties" />
    <!-- 配置dataSource数据源 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${driver}"></property>
        <property name="url" value="${url}"></property>
        <property name="username" value="${user}"></property>
        <property name="password" value="${password}"></property>
    </bean>
    <!-- 创建SqlSessionFactory，并配置实体对象别名 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
<!--        依赖注入， 数据源-->
        <property name="dataSource" ref="dataSource"></property>
<!--        依赖注入， 实体类的别名映射-->
        <property name="typeAliasesPackage" value="vip.epss.domain" />
    </bean>
    <!-- 配置Mapper，自动扫描Mapper接口，并为其注入SqlSessionFactory -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="vip.epss.dao"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>
</beans>